<ion-header>
  <ion-toolbar color="primary">
    <ion-item style="--background: transparent;" lines="none" (click)="goToUserChatSettings()">
      <ion-avatar slot="start">
        <img [src]="userToChat?.avatar" />
      </ion-avatar>
      <ion-label>
        <h2 style="color: white;"> {{ userToChat?.username }} </h2>
        <p *ngIf="userToChat?.isOnline" style="color: white;">online</p>
        <p *ngIf="!userToChat?.isOnline" style="color: white;">Ultimo Accesso
          {{userToChat?.lastAccess?.toMillis() | date:'shortTime'}} </p>
      </ion-label>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="scrollToBottom(1)">
        <ion-icon name="arrow-down-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="signOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background" fullscreen>

  <ion-button (click)="loadPreviousMessage($event)" expand="block" fill="clear" shape="round">
    Carica messaggi precedenti
    <ion-icon slot="start" name="refresh-outline"></ion-icon>
  </ion-button>

  <ion-grid>
    <ion-list #messagesList>

      <ion-item-sliding *ngFor="let message of messages | async">
        <ion-item>
          <ion-col size="9" [offset]="message.myMsg ? 3 : 0" class="message"
            [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
            <div *ngIf="message.replyAuthor && message.replyText" style="border: white solid 1px;">
              Risposta del Messaggio:
              <b>{{ message.replyAuthor }}</b>
              <div>{{ message.replyText }}</div>
            </div>
            <b>{{ message.fromName }}</b>
            <img *ngIf="message?.image" [src]="message.base64String" (click)="openPreview(message.base64String)" />
            <div class="selectable">{{ message.msg }}</div>
            <div class="time ion-text-right">{{ message.createdAt?.toMillis() | date:'short' }}</div>
          </ion-col>
        </ion-item>

        <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="!message.myMsg && message.reaction">
          <ion-fab-button color="tertiary" (click)="openEmoji(message)">
            {{message.reaction | reactionPipe}}
          </ion-fab-button>
        </ion-fab>
    
        <ion-item-options side="start" (click)="replyMessage(message)">
          <ion-item-option [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
            <ion-icon slot="icon-only" name="return-up-back-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end" (click)="openEmoji(message)" *ngIf="!message.myMsg && !message.reaction">
          <ion-item-option class="other-message">
            <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    
      </ion-item-sliding>

    </ion-list>
  </ion-grid>
</ion-content>

<ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="documentAttach()">
      <ion-icon name="attach-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="emailNotification()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="8" offset="2">
        <ion-textarea #newMsgInput autoGrow="true" class="message-input" rows="1" maxlength="500" [(ngModel)]="newMsg">
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
