.message-input {
  width: 100%;
  color: #000;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  background: #ccc;
  resize: none;
  margin-top: 0px;
  --padding-start: 8px;
}

.message {
  padding: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;
  white-space: pre-wrap;
}

.my-message {
  background: var(--ion-color-tertiary);
  color: #fff;
}

.other-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: x-small;
}

ion-content.background{
  --background: linear-gradient(rgba(0,0,0,.85),rgba(0,0,0,.66)),url(/assets/image/bg_chat.png)
}

.sc-ion-buttons-ios-s ion-button {
  --padding-start: 10px;
}

.selectable {
  -webkit-user-select: initial;
}
