ion-content {
    --background: transparent;
}
 
ion-footer {
    margin-bottom: 10px;
}
 
swiper {
    height: 100%;
}

.info-modal-text-area {
    border: 2px solid white;
    margin-top: 1em;
    margin-bottom: 1em;
}