<ion-header>
  <ion-toolbar>
    <ion-title>infoModal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="./../../assets/image/notification.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Attenzione</ion-card-subtitle>
      <ion-card-title>Invia notifica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Inserisci qui il testo della email che verra inviato come notifica!
      <ion-textarea class="info-modal-text-area" [(ngModel)]="emailText"></ion-textarea>
      <ion-button (click)="submitNotification()" expand="block" shape="round">
        Invia notifica
        <ion-icon slot="end" name="mail-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>